.Browser-view {
  background-color: #F1F1F1;
  position: absolute;
  overflow: auto;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 184px;
}


.Browser-empty-view {
  position: absolute;
  width: 100%;
  top: 184px;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F1F1F1;
  font-size: 24px;
  font-weight: 600;
}
