.Table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.85rem;
  background-color: white;
}

.Table-checkbox {
  width: 1%;
}

.Table-header th {
  font-size: 1rem;
  padding: 10px 10px 5px 10px;
  text-align: left;
}

.Table-download {
  font-size: 1rem;
  color: black;
  background-color: #e5f1fb;
  border-radius: 5px;
  border: 0px;
  width: 60px;
  height: 25px;
  margin: 0;
  cursor: pointer;
}

.Table-download:hover {
  background-color: #d4e0ea;
}

.Table-row:nth-child(even) {
  background-color: white;
}

.Table-clipboard-img {
  width: 16px;
  height: 16px;
  padding: 0px 3px 0px 6px;
  cursor: pointer;
}

.Table-clipboard-img:hover {
  opacity:.5;
}
.Table-row:nth-child(odd) {
  background-color: lightgrey;
}

.Table .name {
	font-size: 1.2em;
}

.Table .date {
	min-width: 115px;
}

.Table-row td {
  padding: 10px;
  text-align: left;
 /* max-width: 300px; */

}

.Table[title]:hover:after {
  width: 250px;
}
/*
@media (max-width: 1250px) {
  .Table-header {
    font-size: 0.6rem;
  }
  .Table-download {
    font-size: 0.5rem;
  }
  .Table-row td {
    font-size: 0.6rem;
  }
}
*/
